.form {
    position: absolute;
    top: 70%;
    bottom: 10%;
    left: 15%;
    right: 17%;
    min-width: 300px;
}
.textarea {
    background: #3B404E;
    color: #f2f2f2;
    font-family: "Comic Sans MS";
    font-size: 12pt;
    position: relative;
    height: 100%;
    width: 100%;
    border: 3px dotted lightsteelblue;
    animation-name: msgBox;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}